{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $notes_dir := promptStringOnce . "notes_dir" "Notes directory (e.g. ~/Projects/notes)" -}}
{{- $windows_username := "" -}}
{{- $is_wsl := or (env "WSL_DISTRO_NAME") (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease | lower)) -}}
{{- if $is_wsl -}}
{{-   $windows_username = promptStringOnce . "windows_username" "Windows username (for WSL)" -}}
{{- end -}}

[data]
email = {{ $email | quote }}
notes_dir = {{ $notes_dir | quote }}
{{- if $is_wsl }}
windows_username = {{ $windows_username | quote }}
{{- end }}
hostname = {{ .chezmoi.hostname | quote }}
username = {{ .chezmoi.username | quote }}

{{- if eq .chezmoi.os "darwin" }}
is_macos = true
is_linux = false
is_wsl = false
package_manager = "brew"
{{- else if eq .chezmoi.os "linux" }}
is_macos = false
is_linux = true
is_wsl = {{ if $is_wsl }}true{{ else }}false{{ end }}
package_manager = "apt"
{{- end }}

[edit]
command = "nvim"

[diff]
pager = "delta"
