.config/nvim/plugged/
.config/nvim/colors/
.config/nvim/spell/
.config/nvim/undodir/
.config/coc/extensions/
.config/ohmyzsh
.config/inkscape/
.config/JetBrains/
.config/libreoffice/
.config/light/
.config/picom/
.config/procps/
.config/pulse/



