# Note: Use `omz reload` to "source" changes to this file.

# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Note: aliases are set in  ~/.oh-my-zsh/custom/aliases.zsh

# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="candy" # set by `omz`

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git)

# Setup omz.
source $ZSH/oh-my-zsh.sh

# Add ~/.local/bin/ to PATH
source "$HOME/.local/bin/env"

{{- if .is_macos }}
# macOS specific aliases and settings
{{- end }}

{{- if .is_linux }}
# Linux specific aliases and settings

# Add tools to PATH
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"
export PATH="$PATH:/home/micah/projects/git-filter-repo"
export PATH="$PATH:/opt/apache-maven-3.9.9/bin"
export PATH="$PATH:/home/micah/.local/share/lua-language-server/bin"
export PATH="$PATH:/usr/local/go/bin"

# Add local bin to PATH if it exists
if [ -d "$HOME/.local/bin" ]; then
    export PATH="$HOME/.local/bin:$PATH"
fi
{{- end }}

## CUSTOM CONFIG ##

# Setup Node Version Manager
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"                   # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion


# Language options
export UV_PYTHON="/usr/bin/python3.12"
export NODE_OPTIONS="--max-old-space-size=4096"

